<div class="bg-white pt-20">

    <div class="text-center py-5">
        <h2 class="text-xl font-bold text-gray-800 md:text-2xl">{{ title }}: {{ get:q }}</h2>
        <p class="mt-2 text-gray-600 text-sm md:text-sm px-8">
            The journey of discovery begins with a single search. 
        </p>
    </div>
<div class="container mx-auto pb-5">
    <form action="/search" class="relative">
        <input type="search" name="q" value="{{ get:q }}"
            class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-1 focus:ring-dataphyteblue focus:border-dataphyteblue outline-none"
            placeholder="Search for article" autofocus>
        
        <!-- Search Icon Inside Input -->
        <button type="submit" class="absolute right-3 top-2 text-gray-500">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 24 24">
                <path d="M21.71 20.29l-4.37-4.37a8 8 0 1 0-1.41 1.41l4.37 4.37a1 1 0 0 0 1.41-1.41zM10 16a6 6 0 1 1 6-6 6 6 0 0 1-6 6z"/>
            </svg>
        </button>
    </form>
    </div>
</div>
<div class="bg-gray-200 pt-20">
    <div class="container mx-auto">

        {{ partial:partials/post_cards/searchcard }}



    </div>
</div>