<div class="sticky top-0 z-50 bg-white shadow-md">
    <div x-data x-init="console.log('Navbar Loaded'); console.log($store.auth.isLoggedIn)">
    <nav class="container mx-auto px-4 sm:px-6 lg:px-8 backdrop-blur-lg bg-opacity-90"
        x-data="{ mobileMenuOpen: false, productMenuOpen: false, profileMenuOpen: false, dropdowns: { product: false, profile: false } }">
        <div class="">

            <div class="flex justify-between items-center h-16">
                <!-- Logo -->
                {{ partial:components/menu/logo}}

                <div class="hidden sm:flex space-x-4 items-center">
                    <!-- Desktop Navigation -->
                    {{ partial:components/menu/desktop_nav }}

                    <!-- Product Dropdown -->
                    {{ partial:components/menu/d_product}}

<!-- Dynamic Login/Profile Button -->
<span data-login x-show="!$store.auth.isLoggedIn" x-cloak>
    {{ partial:components/menu/login_btn }}
</span>
<span data-profile x-show="$store.auth.isLoggedIn" x-cloak>
    {{ partial:components/menu/user_profile_btn }}
</span>

                
                </div>

                <!-- Mobile Buttons -->
                <div class="flex sm:hidden items-center space-x-4">
                    <!-- Product Dropdown for Mobile -->
                    {{ partial:components/menu/d_product}}

<!-- Dynamic Login/Profile Button -->
<span data-login x-show="!$store.auth.isLoggedIn" x-cloak>
    {{ partial:components/menu/login_btn }}
</span>
<span data-profile x-show="$store.auth.isLoggedIn" x-cloak>
    {{ partial:components/menu/user_profile_btn }}
</span>

                    <!-- Hamburger Menu -->
                    {{ partial:components/menu/hamburger }}
                </div>
            </div>

            <!-- Mobile Navigation Menu -->
            {{ partial:components/menu/mobile_nav}}
        </div>
    </nav>
    </div>
</div>