<div class="bg-white pt-20">
    <div class="text-center py-10">
        <h2 class="text-3xl font-bold text-gray-800 md:text-4xl">Explore Our Visualizations</h2>
        <p class="mt-4 text-gray-600 text-sm md:text-base px-8">
            Dive into a collection of well-researched articles and resources designed to empower decision-making.
        </p>
    </div>
</div>

<div class="bg-gray-200 pt-20">
    <div class="container mx-auto">
        {{ collection:viz paginate="8" as="posts" sort="date:desc" }}
            {{ partial:partials/post_cards/viz_card }}
            {{ if no_results }}
                <p class="text-center py-10 text-gray-600">No visualizations found.</p>
            {{ /if }}

            <!-- Pagination Section -->
            {{ paginate }}
            <div class="flex items-center justify-between px-4 py-0 sm:px-6 pb-20 pt-10">
                <div class="container mx-auto border-gray-200 border-t">
                    <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
                        <p class="text-sm text-gray-700">
                            Page <span class="font-medium">{{ current_page }}</span> of 
                            <span class="font-medium">{{ total_pages }}</span> 
                            (Showing <span class="font-medium">{{ total_results }}</span> results)
                        </p>

                        <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
                            {{ if prev_page }}
                                <a href="{{ prev_page }}"
                                    class="relative inline-flex items-center rounded-l-md px-3 py-1 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                                    <span class="sr-only">Previous</span>
                                    <svg class="size-5" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd"
                                            d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z"
                                            clip-rule="evenodd" />
                                    </svg>
                                </a>
                            {{ /if }}

                            {{ if next_page }}
                                <a href="{{ next_page }}"
                                    class="relative inline-flex items-center rounded-r-md px-3 py-1 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                                    <span class="sr-only">Next</span>
                                    <svg class="size-5" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd"
                                            d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
                                            clip-rule="evenodd" />
                                    </svg>
                                </a>
                            {{ /if }}
                        </nav>
                    </div>
                </div>
            </div>
            {{ /paginate }}
        {{ /collection:viz }}
    </div>
</div>
