{{# Topics single page #}}
<div class="relative w-full">
    <!-- Heading Section -->
    <div class="relative h-[300px] bg-cover bg-top overflow-auto"
        style="background-image: url('{{ featured_image ?? landscape_default_image:landscape_image  }}');">
        <!-- Overlay -->
        <div class="absolute inset-0 bg-gray-800 bg-opacity-80"></div>

        <!-- Content Wrapper -->
        <div class="relative z-10 h-full flex items-center justify-center px-4 md:px-8">
            <div class="text-white max-w-4xl mx-auto">
                <!-- Topic Sub(Category) -->
                <p class="text-xs uppercase mb-2 space-x-2">
                    {{ if viz_type }}
                    {{ viz_type }}<a href="{{ url }}">{{ title }}</a>{{ /viz_type }}
                    {{ /if }}
                </p>

                <h1 class="text-3xl md:text-4xl font-bold text-white">{{ title }}</h1>
                <p>
                    <span class="text-sm font-semibold">{{ author }} {{ name }} {{ /author }}</span> | <span
                        class="text-xs">{{ date }}</span>
                </p>

                <!-- Social Media Sharing -->
                <div class="mt-4 flex items-center space-x-4">
                    <!-- Facebook -->
                  {{ partial:components/article/share_btn }}
                </div>
            </div>
        </div>

    </div>

    <div class="bg-gray-100">
        <div class="container mx-auto pt-5 pb-5 h-full">
        {{ embed_code }}
    </div>

    </div>


    <!-- Table of Content -->
    <div class="container mx-auto grid grid-cols-1 md:grid-cols-12 gap-8 py-12 px-4">
        <!-- Floating Table of Contents -->
        <button id="toggleToc"
        class="md:hidden flex items-center justify-center gap-2 bg-dataphyteblue text-white px-4 py-2 rounded-lg shadow-md w-full font-medium transition hover:bg-blue-700 active:bg-blue-800">
    Show Table of Contents
    </button>
        <aside id="tocContainer" class="hidden md:block md:col-span-3 bg-gray-100 p-6 rounded-lg shadow-md md:sticky top-0 h-fit">
            <h2 class="text-base font-bold mb-4">Table of Contents</h2>
            <ul id="toc" class="space-y-2 text-sm text-gray-700">
                <!-- JavaScript will populate this -->
            </ul>
        </aside>

        <!-- Main Content -->
        <main class="col-span-1 md:col-span-6">
            <article class="prose prose-lg max-w-none [&>*]:mb-6 [&>h2]:mt-10 [&>h3]:mt-8">
                <div class="content">
                    {{ if content | is_array }}
                    {{ content | bard_text }}
                    {{ elseif content }}
                    {{ content }}
                    {{ else }}
                    <p>No content available</p>
                    {{ /if }}
                    <!-- Additional Content Here -->
                </div>

                <!-- Comments Section -->
                <div class="mt-12 border-t pt-8">
                    {{ partial:partials/comment_field }}
                </div>
            </article>
        </main>

        <!-- Related Posts -->
        <aside class="block md:block md:col-span-3">
            <div class="bg-gray-100 p-6 rounded-lg shadow-md">
                <h2 class="text-lg font-semibold mb-4 text-gray-900">Related Topics</h2>
                <ul class="space-y-6">
                    {{ collection:viz limit="5" sort="date:desc" where="tags:contains={{ tags }}" not="id:{ id }" }}
                    <li>
                        <p class="text-xs text-gray-600">{{ issues_categories }}<a href="{{ url }}">{{ title }}</a>{{
                            /issues_categories }}</p>
                        <a href="{{ url }}" class="text-sm text-dataphyteblue hover:underline">{{ title }}</a>

                    </li>
                    {{ /collection:viz }}
                </ul>


                <h2 class="text-lg font-semibold mb-4 mt-10 text-gray-900">Across Dataphyte</h2>
                <ul class="space-y-6">
                    {{ collection:issues limit="5" sort="date:desc" where="tags:contains={{ tags }}" not="id:{ id }" }}
                    <li>
                        <p class="text-xs text-gray-600">{{ taxonomies }}<a href="{{ url }}">{{ title }}</a>{{
                            /taxonomies }}</p>
                        <a href="{{ url }}" class="text-sm text-dataphyteblue hover:underline line-clamp-3">{{ title
                            }}</a>

                    </li>
                    {{ /collection:issues }}
                </ul>
            </div>

        </aside>
    </div>
    {{ partial:components/toc }}
</div>